/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 16px;
}

@font-face {
  font-family: 'Arial';
  src: local('Arial'),
    url('../assets/fonts/Arial.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: local('Chillax'),
    url('../assets/fonts/Chillax-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Chillax Variable';
  src: local('Chillax Variable'),
    url('../assets/fonts/Chillax-Variable.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Chillax Semibold';
  src: local('Chillax Semibold'),
    url('../assets/fonts/Chillax-Semibold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: local('Urbanist'),
    url('../assets/fonts/Urbanist.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
}
#enquiryform_body {
  overflow-y: auto;
}
@media (min-width: 2000px) {
  main {
    width: 65%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 65%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}

@media (min-width: 1422px) {
  main {
    width: 95%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 95%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
  #enquirymodal_bakdrop {
    top: 39% !important;
  }
}

@media (min-width: 1600px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
  #headercontainer {
    width: 90%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 90%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}

@media (min-width: 1707px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
  #headercontainer {
    width: 80%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 80%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}

@media (min-width: 1920px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 80%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}

@media (min-width: 2560px) {
  main {
    width: 60%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 60%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}

@media (min-width: 3840px) {
  main {
    width: 40%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 40%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}


@media (min-width: 5120px) {
  main {
    width: 34%;
    margin: 0 auto;
  }
  #footerlayout {
    width: 34%;
    margin: 0 auto;
  }
  #trustedsection {
    width: 85%;
  }
  #enquiryform_body {
    overflow-y: hidden;
  }
}

.MuiFormControl-root {
  margin-top: 4px;
}